{% extends 'base.html' %}
{% block title %}Sample Search{% endblock %}
{% block header %}
  <h1>Sample Search</h1>
  {% if debug %}
    {{ debug }}
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="search-params">
      <b>Search params</b>
      <div class="select">
        Method
        {% include "samples/_select_method.html" %}
      </div>
      <div class="select">
        Fields
        {% include "samples/_select_fields.html" %}
      </div>
    </div>
    <div class="search-field">
      {% include "samples/_terms.html" %}
      <input type="submit" value="Search">
    </div>
  </form>
  <div class="list">{{ results|safe }}</div>
{% endblock %}