{% extends 'base.html' %}
{% block title %}Data Browser{% endblock %}
{% block header %}
  <h1>Data Browser</h1>
  {% if debug %}
    {{ debug }}
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="search-field">
      <div>
        <input name="item" id="item" placeholder="Item ID">
      </div>
      <input type="submit" value="Search">
    </div>
  </form>
  <div>
    {% for dataframe in dataframes %}
      <h2>Job&nbsp;{{dataframe["job_id"]}}:&nbsp;{{dataframe["operation_name"]}}</h2>
      {{ dataframe["dataframe"].to_html(classes='data')|safe }}
    {% endfor %}
  </div>
{% endblock %}