<div>
    {% if request.form['method'] == 'and' %}
        <input type="radio" id="and" name="method" value="and" checked>
    {% else %}
        <input type="radio" id="and" name="method" value="and">
    {% endif %}
    <label for="and">AND</label>
</div>
<div>
    {% if request.form['method'] == 'or' %}
        <input type="radio" id="or" name="method" value="or" checked>
    {% else %}
        <input type="radio" id="or" name="method" value="or">
    {% endif %}
    <label for="or">OR</label>
</div>
